GROQ_API_KEY=your_groq_api_key
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX_NAME=your_pinecone_index
HF_API_KEY=your_huggingface_api_key
HF_EMBEDDING_MODEL=sentence-transformers/distiluse-base-multilingual-cased
PORT=3000
